*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(fondolink.jpeg);
    background-size: cover;
    background-position: 20px 10px;
}
main{
    background-color:#dfa9d5d4;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 5%;
}

header{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

header p{
    margin-top: 10px;
    color: rgb(87, 15, 89);
    font-size: 18px;
}

.redes li{
    display: inline-block;
    margin-top: 20px;
    
}

.iconred{
    width: 40px;
    height:40px;
    border-radius:none;
    object-fit:cover;
}

.iconred:hover{
    width: 43px;
    height: 43px;
}
nav ul{
    padding-bottom: 30px;
}
nav li{
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    
    
}

nav a{
    display: inline-block;
    background-color: #ffff;
    padding: 20px 0px;
    margin-top: 10px;
    position: relative;
    width: 300px;
    text-decoration: none;
    border-radius: 30px;
    color:rgb(43, 150, 102);
    
}
nav a:hover{
    background-color: rgb(135, 46, 112);
    color:#ffff;
    
}
nav img{
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}